<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
</head>
<body>
  
  <section id="cabecera">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <span class="text-md-left image-fluid"><img src="/mvp/static/mvp/images/marcappalsinfondo_cutted.png" width="300" alt=""></span>
        </div>
        <div class="col-6">
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  </section>
  <hr size="2px">
  <section id="cuerpo" class="mx-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <nav class="nav flex-column">
            <a class="nav-link" href="#">Active</a>
            <a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Módulo Comercial</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#">Disabled</a>
          </nav>
        </div>
        <div class="col-9">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum nesciunt nihil, asperiores id velit autem ea, natus omnis, alias magnam tempora neque iste eos voluptates perferendis consequatur maiores? Quos nihil autem dolor a commodi numquam aperiam odio totam culpa quia?</div>
      </div>
    </div>
  </section>
  <hr>
  <section id="piepagina" class="text-muted small text-center">
    <p><i class="fas fa-copyright" ></i>JLBR2020</p>
  </section>






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>