<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <section id="cabecera">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img src="/mvp/static/mvp/images/marcappalsinfondo_cutted.png" width="300" alt="" class="img-fluid">
        </div>
        <div class="col-2">

        </div>
        <div class="col-4">
          <ul class="list-unstyled mt-5 pt-2 ml-1 small">
            <li><i class="fas fa-truck"></i>Atenas, 49 - Pol. Ind. San Luis</li>
            <li class="ml-4">29006  Málaga (Spain)</li>
            <br>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 952 340 575 - 952 324 696</li>
            <br>
            <li><i class="fa fa-envelope-open" aria-hidden="true"></i>  info@dyrbootello.com</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <hr size="2px">
  <section id="cuerpo">
  <h1>Hola bootstrap <span class="text-muted">con html</span></h1>
  

  <p>Lorem ipsum dolor, <span class="text-muted">aqui estamos</span> sit amet consectetur adipisicing elit. <small class="text-muted">como vamos</small> Velit aperiam doloribus minus rerumoew iustq waboriosae hic, <i class="fa fa-bold">hola que tal</i> sine ipwa consequatusss eligendi unde doloremque ad saepe obcaecati dolorem quos ipsum molestias.</p>
  </section>
  <hr>
  <section id="piepagina" class="text-muted small ml-1">
    <p><i class="fas fa-copyright"></i>JLBR2020</p>
  </section>






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>